* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* navbar style start */
.navbar {
  margin: 10px;
  padding: 10px;
  letter-spacing: 1px;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item {
  list-style: none;
  font-size: 18px;
}
a {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
}
.list li i {
  margin-left: 10px;
  cursor: pointer;
}
.fa-bars {
  font-size: 25px;
}
.material-symbols-outlined {
  cursor: pointer;
}
/* navbar style end */

/* Hero banner 1 start */
.container {
  margin: 10px 50px;
}
.hero-banner {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(Assets/bg1.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.white {
  position: absolute;
  color: white;
  font-size: 60px;
  font-weight: 700;
  top: 100px;
  left: 100px;
  line-height: 60px;
}
/* Hero banner 1 end */

/* about us start */
.team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: red;
}
.title-2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}
.content {
  width: 30%;
  margin-top: 20%;
}
/* about us end */

/* info section start */
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.count h1 {
  color: black;
  display: inline;
  font-size: 50px;
}
.count {
  margin-right: 50px;
  text-align: center;
  border-right: 1px solid grey;
  padding-right: 50px;
}
.plus {
  color: red;
  font-size: 60px;
  font-weight: 500;
}
.last {
  border: none;
}
/* info section end */

/* features section started */
.features {
  min-height: 80vh;
  width: 100%;
  background-image: url(Assets/bg2.png);
  position: relative;
  background-position: center;
  background-size: cover;
}
.features img {
  width: 100%;
}
.customer {
  position: absolute;
  top: 10%;
  left: 10%;
}
.customer span {
  color: red;
}
.customer h2 {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 200;
  line-height: 50px;
}
.cards {
  display: block;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;

  position: absolute;
  top: 40%;
  padding: 50px;
}

.cards::-webkit-scrollbar {
  display: none;
}
.card {
  display: inline-block;
  margin-right: 30px;
  width: 300px;
  height: auto;
  box-shadow: 1px 2px 5px 0px;
}
.card img {
  width: 100%;
  height: 100%;
}
.card p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
/* features section ended */

/* Service section started  */
.service {
  top: 200px;
  min-height: 90vh;
  position: relative;
  padding: 0 80px;
}
.service-heading {
  position: relative;
}
.service-heading h2 {
  font-size: 4rem;
}
.top {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.middle {
  position: absolute;
  top: 40px;
  left: 0;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.bottom {
  position: absolute;
  top: 80px;
  left: 0;
}
.whitespace {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.whitespace-2 {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
}
.intro span {
  color: #ec2232;
  font-size: 6rem;
  font-weight: bolder;
  position: absolute;
  top: 22%;
  left: 60px;
}
.intro p {
  position: absolute;
  top: 35%;
  left: 130px;
}
.services {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left {
  height: 100%;
  width: 100%;
}
.left hr {
  width: 3px;
  height: 420px;
  background-color: red;
  float: left;
  margin-right: 50px;
}
.left span {
  font-size: 18px;
  color: rgb(254, 224, 179);
  margin-right: 20px;
}
.left1,
.left2,
.left3 {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.font h5 {
  font-size: 20px;
}
.small-icons {
  margin-top: 20px;
  width: 50px;
  height: 100%;
  margin-right: 20px;
}
.right {
  width: 100%;
  height: 100%;
  padding: 0 60px;
}
.right1,
.right2,
.right3 {
  margin: 2px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}
.right span {
  font-size: 18px;
  color: rgb(254, 224, 179);
  margin-right: 20px;

}
/* Service section ended  */

/* about section started */
.about {
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
    url(Assets/bg3.png);
  min-height: 90vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 30%;
  position: relative;
  color: white;
  padding-left: 250px;
  padding-top: 120px;
}
.about h1 {
  font-size: 40px;
}
.about-icon {
  display: flex;
  align-items: center;
}
.cart {
  margin-right: 5rem;
}
.cart span {
  display: block;
  margin-bottom: 10px;
}
.number {
  font-size: 25px;
}
.cart img {
  width: 50px;
  height: 50px;
  margin-top: 50px;
}
/* about section ended */

/* client section started */
.client {
  text-align: center;
  margin: 50px 100px;
  padding: 20px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.images img {
  width: 10%;
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}
.client span {
  color: red;
}
/* client section ended */

/* contact section started */
.contact {
  display: flex;
  justify-content: space-between;
}
.form {
  background-color: #0e3466;
  width: 100%;
  padding: 30px;
}
.inputs {
  width: 100%;
  position: relative;
}
.form h1 {
  font-size: 40px;
  color: white;
}
.form hr {
  width: 30%;
  height: 1px;
}
.inputs input {
  width: 90%;
  height: 40px;
  margin-top: 30px;
  padding: 20px 60px;
  border-radius: 10px;
}
.inputs textarea {
  width: 90%;
  height: 60px;
  margin-top: 30px;
  padding: 20px 60px;
  border-radius: 10px;
  overflow-y: hidden;
}

.inputs i {
  position: absolute;
  margin: 40px 15px;
  font-size: 25px;
}
button {
  background-color: red;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover{
  background: blue;
}

/* contact section ended */

/* footer section started */
.footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px 100px;
}
.footer-text a {
  color: white;
  font-size: 20px;
  font-weight: 600;
  flex: 1;
}
.footer-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
}
.footer-mid h1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: 600;

}

.footer-left ul,
.footer-right ul {
  margin-top: 50px;
}

.footer-icons {
  flex: 1;
  align-items: flex-end;
  text-align: right;
}
.footer-icon {
  cursor: pointer;
  word-spacing: 15px;
}
.footer hr {
  color: #c4c4c4;
  width: 1px;
  height: 100px;
  margin: 0 90px;
}
/* footer section ended */
